html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    min-height: 100vh;
    background: linear-gradient(-45deg, #5d91aa, #904f78, #2c637b, #00394f);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: "RocknRoll One", sans-serif;
    color: #fff;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    margin: 0 auto;
    padding-top: 200px;
  }
  
  .header-title {
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
  }
  
  .joke-container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    border: 10px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
  }
  
  .joke-text {
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
  }
  
  .button {
    background: #f1c40f;
    border-radius: 5px;
    margin-top: 4rem;
    width: fit-content;
    padding: 1rem;
    align-self: center;
  }
  
  .button-text {
    font-family: "RocknRoll One", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    user-select: none;
    transition: all 400ms ease;
  }
  
  .button-text:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  
  .button:hover {
    cursor: pointer;
  }
  
  @media (max-width: 500px) {
    .header-title {
      font-size: 30px;
    }
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @media (max-width: 500px) {
    .header-title {
      font-size: 20px;
    }
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .footer-github {
    font-size: 1.2rem;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
  }
  
  .footer-github:hover {
    text-decoration: underline;
  }
  
  .footer-rsschool {
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    background-color: transparent;
    background-image: url("./img/rs_school_js.svg");
    transition: 0.5s;
    opacity: 0.6;
  }
  
  .footer-rsschool:hover {
    opacity: 1;
  }